.contato{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: calc(100vh - 15rem);
}

.dados{
  padding: 0px;
  list-style: none;
}

.dados li{
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: .8rem;
  display: flex;
}

.texto{
  margin-left: 15px;
}

ion-icon{
  color:#1870C3
}

